#welcome {
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.83;
    z-index: 9;
    position: absolute;
    background-image: url("456.jpg");
    background-size: cover;
    background-position: center;
}

#profile {
    width: 500px;
    height: 400px;
    border-radius: 5%;
    margin-top: 70px;
}

body {
    padding-top: 800px;
}

#name {
    color: #4A148C;
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    line-height: 1.2;
}

body {
    text-align: center;
}

h1 {
    font-size: 30px;
    font-weight: bolder;
}

.Line {
    height: 2px;
    width: 200px;
    margin: 8px auto;
    background-color: white;
}

#Info {
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
    color: darkturquoise;
}

#About {
    padding: 50px;
    font-size: 42px;
}

.menu {
    list-style: none;
    font-family: 'Bodoni Moda', serif;
    position: absolute;
    top: 10px;
    right: 30px;
    z-index: 10;
    cursor: pointer;
}

.links {
    float: left;
    color: white;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
}

.links:hover{
    background-color: blueviolet;
}

.movies {
    width: 400px;
    height: 600px;
}

h2 {
    font-size: 50;
    color: darkorchid;
}

.ab {
    background-image: url("123.jpg");
    background-size: cover;
    background-position: center;
}

p {
    font-size: 30px;
    color: darkturquoise;
}

a {
    text-decoration: none;
    font-size: 20px;
}

.web:hover {
    color: fuchsia;
}

html {
    scroll-behavior: smooth;
}

button {
    cursor: pointer;
    height: 40px;
    width: 400px;
    background-color: dodgerblue;
}

.abc {
    height: 600px;
    width: 470px;
    border: 10px;
    border-color: darkgray;
    border-spacing: 10px;
    border-width: 100px;
    transition: transform 2px;
}

.abc:hover {
    transform: scale(0.9);
}

#play {
    color: lightsalmon;
    font-family: 'Shadows Into Light', cursive;
}